<div class="container-fluid no-breadcrumbs"> <!-- container-->
  <mat-card> <!-- mat-card 1 -->
      <mat-card-title>
         <h6>Scan In Process : ( Machine : {{this.user.user_mac.MC_CODE}} )</h6>
      </mat-card-title>
      <br />
      
      
      <mat-card> <!-- mat-card 2 -->
           <!-- <mat-card-title >
              <h1>เฉพาะรายการ Scan Quilt Panel แล้ว</h1>
           </mat-card-title >  -->

           <div class="panel panel-default"> 
              
                <div class="row">
                  <div class="col-lg-3 col-sm-5 col-5">
                  <form [formGroup]="validationForm">  
                    <mat-form-field class="full-width">
                      <input #req_date  matInput [matDatepicker]="picker" placeholder="MPS Date" [(ngModel)]="modelByDate.req_date"
                      formControlName="req_date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    
                  </form> 
                  </div>
                  <div class="col-1 col-sm-1">
                    <mat-card-actions class="no-margin">
                      <button mat-raised-button color="primary"  type="button" (click)="springSearch()">
                        <mat-icon class="material-icons">search</mat-icon> ค้นหา
                      </button>
                    </mat-card-actions>
                  </div>
                </div>
              


                <!-- MPS Date 1"> -->
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-4"> 
                    <dt>Mps Date</dt>
                    <dd *ngIf="data.datas.length != 0;">
                      {{data.datas[0].req_date | date:'dd/MM/yyyy'}}
                    </dd>
                  </div>

                  
                </div>

          
              <!-- Table -->
              <table style="width: 100%" >
                <tbody>
                  <!-- In Process Movement -->
                  <tr>
                    <th style="width: 100px" class="text-center">Size</th>
                    <th style="width: 100px" class="text-center">Spring Grp</th>
                    <th style="width: 100px"  class="text-center">Plan QTY</th>
                    <th style="width: 100px"  class="text-center">Act QTY</th>
                    <th style="width: 100px" class="text-center">Diff QTY</th>
                    <th style="width: 10px">&nbsp;</th>
                  </tr>
                  <tr *ngFor="let x of data.datas">
                    <td>{{x.pdsize_desc}}</td>
                    <td>{{x.spring_grp}}</td>
                    <td class="text-center">{{x.plan_qty}}</td>
                    <td class="text-center">{{x.actual_qty}}</td>
                    <td class="text-center">{{x.diff_qty}}</td>
                    <td class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="appMenu1">
                          <mat-icon class="material-icons">more_horiz</mat-icon>
                        </button>
                        <mat-menu #appMenu1="matMenu">
                            <button mat-menu-item [routerLink]="['prodscan/'+ x.req_date + '/' + x.spring_grp + '/' + x.pdsize_code]" action *ngIf="(x.plan_qty > x.actual_qty )">
                              <mat-icon class="material-icons">save</mat-icon> <span>บันทึกผลผลิต - Scan</span>
                            </button>
                            <button mat-menu-item [routerLink]="['prodcanc/'+ x.req_date + '/' + x.spring_grp + '/' + x.pdsize_code]" action *ngIf="(x.actual_qty != 0 )">
                              <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต - Scan</span>
                            </button>
                            <button mat-menu-item [routerLink]="['recentry/'+ x.req_date + '/' + x.spring_grp + '/' + x.pdsize_code]" action *ngIf="(x.plan_qty > x.actual_qty )">
                              <mat-icon class="material-icons">save</mat-icon> <span>บันทึกผลผลิต - Manual</span>
                            </button>
                            <button mat-menu-item [routerLink]="['reccanc/'+ x.req_date + '/' + x.spring_grp + '/' + x.pdsize_code]" action *ngIf="(x.actual_qty != 0 )">
                              <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต -Manual</span>
                            </button>
                        </mat-menu>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2" class="text-center">รวม</th>
                    <th class="text-center">{{data.total_plan_qty}}</th>
                    <th class="text-center">{{data.total_actual_qty}}</th>
                    <th class="text-center">{{data.total_diff_qty}}</th>
                    <th class="text-center">
                      &nbsp;
                    </th>
                  </tr>
               
                </tbody>
              </table>
              
              

              <br />


             </div> <!-- <div class="panel panel-default"></div> --> 
       
      </mat-card> <!-- mat-card 2 -->
    
      <br />
    
      <mat-card-content *ngIf="data.datas != undefined">
        <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
            [(page)]="model.pageIndex" (pageChange)="springSearch()" [boundaryLinks]="true"></ngb-pagination>
      </mat-card-content>


      <mat-card-actions class="no-margin">
        <div class="row">
          <div class="col-2 col-sm-2">
            <button (click)="close();" mat-raised-button color="primary">
              <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>
          </div>
      </div>
      </mat-card-actions>
      

  </mat-card> <!-- mat-card 1 -->
</div> <!-- container-->