<div class="container-fluid no-breadcrumbs">
  
  <mat-card> 
    <mat-card-title>
      <h6>ข้อมูลสินค้า</h6>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-6 col-lg-2">
          <small>รหัสสินค้า</small>
          <dd>SLS7CHI GC35</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>รายละเอียดสินค้า</small>
          <dd>SEALY BED STEAD CHIC CARRERA D.DAPHNIE/GR_3.5'</dd>
        </div>
        <div class="col-6 col-lg-5">
          <small>รหัสบาร์โค้ด</small>
          <dd>8852012198723</dd>
        </div>
        <div class="col-6 col-lg-2">
          <small>Unit</small>
          <dd>PCS</dd>
        </div>
        <div class="col-6 col-lg-8">
          <small>Unit Price</small>
          <dd>11,600.00</dd>
        </div>
        <div class="col-6 col-lg-3">
          <mat-form-field class="full-width">
            <mat-select  placeholder="คลังสินค้า"  name="productColorId">
              <mat-option>ทั้งหมด</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3 col-sm-4 col-3">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="จากวันที่" 
              name="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-4 col-3">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker2" placeholder="ถึงวันที่" 
              name="toDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="no-margin">
      <button mat-raised-button color="primary" class="btn-w-md" type="button" >
        <mat-icon class="material-icons">search</mat-icon> ค้นหา
      </button>
      
    </mat-card-actions>

  </mat-card> 
  <br />
  <br />
 
  <mat-card>

    <mat-card-title>
      <h6>รายละเอียดข้อมูล Stock Ledger</h6>
    </mat-card-title>

    <mat-card-content> 
     <div class="row card-table-body" >
        <!-- Row 1-->
        <div class="col-8 col-lg-1">
            <small>Type</small>    
            <dd>REC-RPD</dd>
        </div>
        <div class="col-8 col-lg-2">
          <small>Doccument</small>
          <dd>HB191100116</dd>
       </div>
       <div class="col-8 col-lg-1">
            <small>Date</small>
            <dd>07/08/2019</dd>
        </div>
        <div class="col-8 col-lg-2">
            <small>Ref No.</small>
            <dd>&nbsp;</dd>
        </div>
        <div class="col-8 col-lg-2">
            <small>Job No</small>
            <dd>CMBS19110234</dd>
        </div>
        <div class="col-8 col-lg-1">
            <small>Customer</small>
            <dd>BXPB4</dd>
        </div>
        <div class="col-8 col-lg-1">
            <small>Receipt</small>
            <dd>10</dd>
        </div>
        <div class="col-8 col-lg-1">
          <small>Issues</small>
          <dd>0</dd>
        </div>
        <div class="col-8 col-lg-1">
          <small>Balance</small>
          <dd>10</dd>
        </div>
        <div class="col-12">
            <hr />
        </div>
        
         <!-- Row 2-->
         <div class="col-8 col-lg-1">
          <small>Type</small>    
          <dd>ISS-DO</dd>
      </div>
      <div class="col-8 col-lg-2">
        <small>Doccument</small>
        <dd>BI19031801</dd>
     </div>
     <div class="col-8 col-lg-1">
          <small>Date</small>
          <dd>27/09/2019</dd>
      </div>
      <div class="col-8 col-lg-2">
          <small>Ref No.</small>
          <dd>MBS19031716</dd>
      </div>
      <div class="col-8 col-lg-2">
          <small>Job No</small>
          <dd>&nbsp;</dd>
      </div>
      <div class="col-8 col-lg-1">
          <small>Customer</small>
          <dd>I0024</dd>
      </div>
      <div class="col-8 col-lg-1">
          <small>Receipt</small>
          <dd>0</dd>
      </div>
      <div class="col-8 col-lg-1">
        <small>Issues</small>
        <dd>2</dd>
      </div>
      <div class="col-8 col-lg-1">
        <small>Balance</small>
        <dd>8</dd>
      </div>
      <div class="col-12">
          <hr />
      </div>

       <!-- Row 3-->
       <div class="col-8 col-lg-1">
        <small>Type</small>    
        <dd>ISS-CO</dd>
    </div>
    <div class="col-8 col-lg-2">
      <small>Doccument</small>
      <dd>BC19110847</dd>
   </div>
   <div class="col-8 col-lg-1">
        <small>Date</small>
        <dd>11/11/2019</dd>
    </div>
    <div class="col-8 col-lg-2">
        <small>Ref No.</small>
        <dd>MBS19101597</dd>
    </div>
    <div class="col-8 col-lg-2">
        <small>Job No</small>
        <dd>&nbsp;</dd>
    </div>
    <div class="col-8 col-lg-1">
        <small>Customer</small>
        <dd>C0019</dd>
    </div>
    <div class="col-8 col-lg-1">
        <small>Receipt</small>
        <dd>0</dd>
    </div>
    <div class="col-8 col-lg-1">
      <small>Issues</small>
      <dd>1</dd>
    </div>
    <div class="col-8 col-lg-1">
      <small>Balance</small>
      <dd>7</dd>
    </div>
    <div class="col-12">
        <hr />
    </div>

     <!-- Row 4-->
     <div class="col-8 col-lg-1">
      <small>Type</small>    
      <dd>REC-RPD</dd>
  </div>
  <div class="col-8 col-lg-2">
    <small>Doccument</small>
    <dd>HB19120411</dd>
 </div>
 <div class="col-8 col-lg-1">
      <small>Date</small>
      <dd>28/11/2019</dd>
  </div>
  <div class="col-8 col-lg-2">
      <small>Ref No.</small>
      <dd>&nbsp;</dd>
  </div>
  <div class="col-8 col-lg-2">
      <small>Job No</small>
      <dd>SMBS19111752</dd>
  </div>
  <div class="col-8 col-lg-1">
      <small>Customer</small>
      <dd>BXPB4</dd>
  </div>
  <div class="col-8 col-lg-1">
      <small>Receipt</small>
      <dd>5</dd>
  </div>
  <div class="col-8 col-lg-1">
    <small>Issues</small>
    <dd>0</dd>
  </div>
  <div class="col-8 col-lg-1">
    <small>Balance</small>
    <dd>12</dd>
  </div>
  <div class="col-12">
      <hr />
  </div>

     

    </div>


    <div class="form-action">
        <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
         <mat-icon class="material-icons">close</mat-icon> ปิด
        </button>
    </div>
  </mat-card-content>
 </mat-card>

   
 



</div>