<div class="container-fluid no-breadcrumbs">
  
  <mat-card> 
    <mat-card-title>
      <h6>ข้อมูล Pcs Barcode</h6>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-6 col-lg-2">
          <small>Pcs Barcode</small>
          <dd>280418404</dd>
        </div>
        <div class="col-6 col-lg-2">
          <small>รหัสสินค้า</small>
          <dd>SLS7CHI GC35</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>รายละเอียดสินค้า</small>
          <dd>SEALY BED STEAD CHIC CARRERA D.DAPHNIE/GR_3.5'</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>รหัสบาร์โค้ด</small>
          <dd>8852012198723</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>คลังสินค้า (ปัจจุบัน)</small>
          <dd>FB</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>Location (ปัจจุบัน)</small>
          <dd>A010101</dd>
        </div>
        <div class="col-6 col-lg-4">
          <small>สถานะ</small>
          <dd>In Stock</dd>
        </div>
      </div>
    </mat-card-content>
  </mat-card> 
  <br />
  <br />
 
  <mat-card>

    <mat-card-title>
      <h6>ข้อมูลประวัติ Pcs Barcode</h6>
    </mat-card-title>

    <mat-card-content> 
     <div class="row card-table-body" >
        <!-- Row 1--> 
        <div class="col-8 col-lg-1">
           <small>ลำดับ</small>
           <dd>1</dd>
        </div>
        <div class="col-8 col-lg-2">
            <small>วันที่ทำ Transaction</small>
            <dd>09/12/2019</dd>
          </div>
        <div class="col-8 col-lg-3">
          <small>ประเภท Transaction</small>
          <dd>Picking (จ่ายสินค้า)</dd>
       </div>
        <div class="col-8 col-lg-1">
          <small>ประเภทเอกสาร</small>
          <dd>CO</dd>
      </div>
        <div class="col-8 col-lg-2">
            <small>เลขที่เอกสาร
               <button mat-icon-button [matMenuTriggerFor]="appMenu3">
                    <mat-icon class="material-icons">more_horiz</mat-icon>
               </button>
            </small>
            <dd>MBS19120045</dd>
       </div>
        <div class="col-8 col-lg-1">
            <small>วันที่เอกสาร</small>
            <dd>09/12/2019</dd>
        </div>
        <div class="col-8 col-lg-1">
            <small>คลังสินค้า</small>
            <dd>FB</dd>
        </div>
        <div class="col-8 col-lg-1">
            <small>Location</small>
            <dd>B010203</dd>
            
        </div>
        <div class="col-12">
            <hr />
        </div>

        <!-- Row 2--> 
        <div class="col-8 col-lg-1">
            <small>ลำดับ</small>
            <dd>2</dd>
         </div>
         <div class="col-8 col-lg-2">
             <small>วันที่ทำ Transaction</small>
             <dd>15/08/2019</dd>
           </div>
         <div class="col-8 col-lg-3">
           <small>ประเภท Transaction</small>
           <dd>Putaway (จัดเก็บสินค้า)</dd>
        </div>
         <div class="col-8 col-lg-1">
           <small>ประเภทเอกสาร</small>
           <dd>RPD</dd>
       </div>
         <div class="col-8 col-lg-2">
             <small>เลขที่เอกสาร
                <button mat-icon-button [matMenuTriggerFor]="appMenu3">
                     <mat-icon class="material-icons">more_horiz</mat-icon>
                </button>
             </small>
             <dd>MT190701991</dd>
        </div>
         <div class="col-8 col-lg-1">
             <small>วันที่เอกสาร</small>
             <dd>01/09/2019</dd>
         </div>
         <div class="col-8 col-lg-1">
             <small>คลังสินค้า</small>
             <dd>FB</dd>
         </div>
         <div class="col-8 col-lg-1">
             <small>Location</small>
             <dd>B010203</dd>
             
         </div>
         <div class="col-12">
             <hr />
         </div>

         <!-- Row 3--> 
        <div class="col-8 col-lg-1">
            <small>ลำดับ</small>
            <dd>3</dd>
         </div>
         <div class="col-8 col-lg-2">
             <small>วันที่ทำ Transaction</small>
             <dd>15/08/2019</dd>
           </div>
         <div class="col-8 col-lg-3">
           <small>ประเภท Transaction</small>
           <dd>Receive (รับสินค้า)</dd>
        </div>
         <div class="col-8 col-lg-1">
           <small>ประเภทเอกสาร</small>
           <dd>RPD</dd>
       </div>
         <div class="col-8 col-lg-2">
             <small>เลขที่เอกสาร
                <button mat-icon-button [matMenuTriggerFor]="appMenu3">
                     <mat-icon class="material-icons">more_horiz</mat-icon>
                </button>
             </small>
             <dd>MT190701991</dd>
        </div>
         <div class="col-8 col-lg-1">
             <small>วันที่เอกสาร</small>
             <dd>15/08/2019</dd>
         </div>
         <div class="col-8 col-lg-1">
             <small>คลังสินค้า</small>
             <dd>FB</dd>
         </div>
         <div class="col-8 col-lg-1">
             <small>Location</small>
             <dd>H</dd>
             
         </div>
         <div class="col-12">
             <hr />
         </div>

        <mat-menu #appMenu3="matMenu">
            <button mat-menu-item [routerLink]="['/docDetail']" action>
              <mat-icon class="material-icons">search</mat-icon> <span>รายละเอียดเอกสาร</span>
            </button>
       </mat-menu> 

    </div>


    <div class="form-action">
        <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
         <mat-icon class="material-icons">close</mat-icon> ปิด
        </button>
      </div>
  </mat-card-content>
 </mat-card>

   
 



</div>