<div class="container-fluid no-breadcrumbs">
  
    <mat-card> 
      <mat-card-title>
        <h6>ข้อมูลสินค้า</h6>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-lg-2">
            <small>รหัสสินค้า</small>
            <dd>SLS7CHI GC35</dd>
          </div>
          <div class="col-6 col-lg-4">
            <small>รายละเอียดสินค้า</small>
            <dd>SEALY BED STEAD CHIC CARRERA D.DAPHNIE/GR_3.5'</dd>
          </div>
          <div class="col-6 col-lg-5">
            <small>รหัสบาร์โค้ด</small>
            <dd>8852012198723</dd>
          </div>
          <div class="col-6 col-lg-2">
            <small>สถานะสินค้า</small>
            <dd>ใช้งาน</dd>
          </div>
          <div class="col-6 col-lg-4">
            <small>Unit</small>
            <dd>PCS</dd>
          </div>
          <div class="col-6 col-lg-1">
            <small>Unit Price</small>
            <dd>11,600.00</dd>
          </div>
        </div>
      </mat-card-content>
    </mat-card> 
    <br />
    <br />
   
    <mat-card>
  
      <mat-card-title>
        <h6>รายละเอียดข้อมูล Stock Balance</h6>
      </mat-card-title>
  
      <mat-card-content> 
       <div class="row card-table-body" >
          <!-- Row 1-->
          <div class="col-8 col-lg-2">
              <small>คลังสินค้า
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>  
                </small>    
              <dd>FB</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>FG-Bedding - HO(K.M.19)</dd>
         </div>
         <div class="col-8 col-lg-1">
              <small>ยอด Onhand</small>
              <dd>2</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Alocate</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Ship</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Build</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Avai</small>
              <dd>2</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>  

          <!-- Row 2-->
          <div class="col-8 col-lg-2">
              <small>คลังสินค้า
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>  
                </small>    
              <dd>FQ</dd>
          </div>
            <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>คลังสินค้า FG รอตรวจสภาพ</dd>
           </div>
         <div class="col-8 col-lg-1">
              <small>ยอด Onhand</small>
              <dd>3</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Alocate</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Ship</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Build</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Avai</small>
              <dd>3</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>  

          <!-- Row 3-->
          <div class="col-8 col-lg-2">
              <small>คลังสินค้า
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>  
                </small>    
              <dd>FW</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>FG- Bedding Warehouse Sales</dd>
         </div>
        <div class="col-8 col-lg-1">
              <small>ยอด Onhand</small>
              <dd>4</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Alocate</small>
              <dd>1</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Ship</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Build</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Avai</small>
              <dd>3</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>  

          <!-- Row 4-->
          <div class="col-8 col-lg-2">
              <small>คลังสินค้า
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>  
                </small>    
              <dd>FR</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>Repack/Re-Process Store</dd>
         </div>
         <div class="col-8 col-lg-1">
              <small>ยอด Onhand</small>
              <dd>5</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Alocate</small>
              <dd>0</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Ship</small>
              <dd>1</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Build</small>
              <dd>1</dd>
          </div>
          <div class="col-8 col-lg-1">
              <small>ยอด Avai</small>
              <dd>3</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>  

        

          <mat-menu #appMenu4="matMenu">
              <button mat-menu-item [routerLink]="['/stockLocation']" action>
                <mat-icon class="material-icons">search</mat-icon> <span>Stock Location</span>
              </button>
              <button mat-menu-item [routerLink]="['/stockLedger']" action>
                <mat-icon class="material-icons">search</mat-icon> <span>Stock Ledger</span>
              </button>
         </mat-menu> 

      </div>
  
  
      <div class="form-action">
          <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
           <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
      </div>
    </mat-card-content>
   </mat-card>
  
     
   
  
  
  
  </div>