<div class="container-fluid no-breadcrumbs"> <!-- container-->
  <mat-card> <!-- mat-card 1 -->
      <mat-card-title>
         <h6>Scan บันทึกส่งมอบ</h6>
      </mat-card-title>
      <br />
      
      
      <mat-card> <!-- mat-card 2 -->
           <!-- <mat-card-title >
              <h1>เฉพาะรายการ Scan Quilt Panel แล้ว</h1>
           </mat-card-title >  -->

           <div class="scrollable-child"> 
           <div class="panel panel-default">
              <form> 
                <div class="row">
                  <div class="col-lg-2 col-sm-5 col-5">
                   
                    <mat-form-field class="full-width">
                      <input #req_date matInput [matDatepicker]="picker" placeholder="MPS Date" [(ngModel)]="model.req_date"
                        name="req_date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-1 col-sm-1">
                    <mat-card-actions class="no-margin">
                      <button mat-raised-button color="primary"  type="button" (click)="search()">
                        <mat-icon class="material-icons">search</mat-icon> ค้นหา
                      </button>
                    </mat-card-actions>
                  </div>
                </div>
              </form> 


                <!-- MPS Date 1"> -->
                <div class="row">
                  <!-- <div class="col-lg-1 col-sm-3 col-3">
                    <dt>Machine</dt>
                    <dd>{{data.mc_code}}</dd>
                  </div>
                  <div class="col-lg-1 col-sm-3 col-3">
                    <dt>Spring</dt>
                    <dd>{{data.spring_grp}}</dd>
                  </div> -->
                  <div class="col-lg-2 col-sm-3 col-4">
                    <dt>Mps Date</dt>
                    <dd>{{data.req_date}}</dd>
                  </div>

                  
                </div>

          
              <!-- Table -->
              <table style="width: 100%" >
                <tbody>
                  <!-- In Process Movement -->
                  <tr>
                    <th style="width: 100px" class="text-center">Size</th>
                    <th style="width: 100px" class="text-center">Spring</th>
                    <th style="width: 100px"  class="text-center">Plan QTY</th>
                    <th style="width: 100px" class="text-center">In Act QTY</th>
                    <th style="width: 100px"  class="text-center">QP QTY</th>
                    <th style="width: 100px"  class="text-center">Act QTY</th>
                    <th style="width: 100px" class="text-center">Diff QTY</th>
                    <th style="width: 10px">&nbsp;</th>
                  </tr>
                  <tr *ngFor="let x of data.datas">
                    <td>{{x.pdsize_code}}</td>
                    <td>{{x.springtype_code}}</td>
                    <td class="text-center">{{x.plan_qty}}</td>
                    <td class="text-center">{{x.inact_qty}}</td>
                    <td class="text-center">{{x.qp_qty}}</td>
                    <td class="text-center">{{x.act_qty}}</td>
                    <td class="text-center">{{x.diff_qty}}</td>
                    <td class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="appMenu1">
                          <mat-icon class="material-icons">more_horiz</mat-icon>
                        </button>
                        <mat-menu #appMenu1="matMenu">
                          <button mat-menu-item [routerLink]="['sendprodscan/'+x.req_date+'/'+x.springtype_code+'/'+x.pdsize_code]" action *ngIf="(x.qp_qty > 0 && x.qp_qty > x.act_qty)">
                            <mat-icon class="material-icons">save</mat-icon> <span>บันทึกผลผลิต - Scan</span>
                          </button>
                          <button mat-menu-item [routerLink]="['sendprodcanc/'+x.req_date+'/'+x.springtype_code+'/'+x.pdsize_code]" action *ngIf="(x.act_qty > 0)">
                            <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต - Scan</span>
                          </button>
                          <button mat-menu-item [routerLink]="['sendrecentry/'+x.req_date+'/'+x.springtype_code+'/'+x.pdsize_code+'/'+(x.qp_qty-x.act_qty)]" action *ngIf="(x.qp_qty > 0 && x.qp_qty > x.act_qty)">
                            <mat-icon class="material-icons">save</mat-icon> <span>บันทึกผลผลิต - Manual</span>
                          </button>
                          <button mat-menu-item [routerLink]="['sendreccanc/'+x.req_date+'/'+x.springtype_code+'/'+x.pdsize_code+'/'+x.act_qty]" action *ngIf="(x.act_qty > 0)">
                            <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต - Manual</span>
                          </button>
                        </mat-menu>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2" class="text-center">รวม</th>
                    <th class="text-center">{{data.total_plan_qty}}</th>
                    <th class="text-center">{{data.total_inact_qty}}</th>
                    <td class="text-center">{{data.total_qp_qty}}</td>
                    <td class="text-center">{{data.total_act_qty}}</td>
                    <th class="text-center">{{data.total_diff_qty}}</th>
                    <th class="text-center">
                      &nbsp;
                    </th>
                  </tr>
               
                </tbody>
              </table>
              
              

              <br />


             </div> <!-- <div class="panel panel-default"></div> --> 
        </div> <!-- <div class="scrollable-child"> --> 
       
      </mat-card> <!-- mat-card 2 -->
    
      <br />
    
      <mat-card-content *ngIf="data.datas != undefined">
        <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
            [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
      </mat-card-content>


      <!-- <mat-menu #appMenu1="matMenu">
        <button mat-menu-item [routerLink]="['sendprodscan/'+x.req_date]" action>
          <mat-icon class="material-icons">save</mat-icon> <span>บันทึกผลผลิต</span>
        </button>
        <button mat-menu-item [routerLink]="['sendprodcanc']" >
          <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต</span>
        </button>
      </mat-menu> -->

      <mat-card-actions class="no-margin">
        <div class="row">
          <div class="col-2 col-sm-2">
            <button (click)="close();" mat-raised-button color="primary">
              <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>
          </div>
      </div>
      </mat-card-actions>
      

  </mat-card> <!-- mat-card 1 -->
</div> <!-- container-->

