<div class="container-fluid no-breadcrumbs">
  
    <mat-card> 
      <mat-card-title>
        <h6>ข้อมูลสินค้า</h6>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-lg-2">
            <small>รหัสสินค้า</small>
            <dd>SLS7CHI GC35</dd>
          </div>
          <div class="col-6 col-lg-4">
            <small>รายละเอียดสินค้า</small>
            <dd>SEALY BED STEAD CHIC CARRERA D.DAPHNIE/GR_3.5'</dd>
          </div>
          <div class="col-6 col-lg-4">
            <small>รหัสบาร์โค้ด</small>
            <dd>8852012198723</dd>
          </div>
          <div class="col-6 col-lg-4">
            <small>สถานะสินค้า</small>
            <dd>ใช้งาน</dd>
          </div>
        </div>
      </mat-card-content>
    </mat-card> 
    <br />
    <br />
   
    <mat-card>
  
      <mat-card-title>
        <h6>รายละเอียดข้อมูล Stock Location</h6>
      </mat-card-title>
  
      <mat-card-content> 
       <div class="row card-table-body" >
          <!-- Row 1-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FB</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>FG-Bedding - HO(K.M.19)</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>
              </small>  
              <dd>B170103</dd>
         </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>2</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>  
          <!-- Row 2-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FB</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>FG-Bedding - HO(K.M.19)</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>
              </small>  
              <dd>B170204</dd>
        </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>3</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>

          <!-- Row 3-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FB</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>FG-Bedding - HO(K.M.19)</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>
              </small>
              <dd>B170404</dd>
        </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>4</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>

          <!-- Row 4-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FQ</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>คลังสินค้า FG รอตรวจสภาพ</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                     </button>
                 </small>
              <dd>B100602</dd>
         </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>2</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>

          <!-- Row 5-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FQ</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>คลังสินค้า FG รอตรวจสภาพ</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                  <mat-icon class="material-icons">more_horiz</mat-icon>
                 </button>
             </small>
              <dd>B170904</dd>
        </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>1</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>

          <!-- Row 6-->
          <div class="col-8 col-lg-1">
              <small>คลังสินค้า</small>
              <dd>FR</dd>
          </div>
          <div class="col-8 col-lg-3">
            <small>รายละเอียด</small>
            <dd>Repack/Re-Process Store</dd>
         </div>
          <div class="col-8 col-lg-2">
              <small>Location
                  <button mat-icon-button [matMenuTriggerFor]="appMenu4">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                 </button>
              </small>   
              <dd>B170802</dd>
              
        </div>
          <div class="col-8 col-lg-1">
              <small>จำนวน</small>
              <dd>3</dd>
          </div>
          <div class="col-12">
              <hr />
          </div>

          <mat-menu #appMenu4="matMenu">
              <button mat-menu-item [routerLink]="['/pcsDetail']" action>
                <mat-icon class="material-icons">search</mat-icon> <span>รายละเอียด Pcs Barcode</span>
              </button>
         </mat-menu> 

      </div>
  
  
      <div class="form-action">
          <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
           <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
        </div>
    </mat-card-content>
   </mat-card>
  
     
   
  
  
  
  </div>