<div class="container-fluid no-breadcrumbs">
  <mat-card>
      <mat-card-title>
          <h6>ค้นหาข้อมูล</h6>
      </mat-card-title>
      <mat-card-content>
            
          <form>
              <mat-card-content class="no-margin">
                  <div class="row">
                      <div class="col-sm-6 col-lg-3">
                          <mat-form-field class="full-width">
                              <input matInput placeholder="Entity" [(ngModel)]="model.ic_entity"
                                  name="ic_entity">
                          </mat-form-field>
                      </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Product Code" [(ngModel)]="model.prod_code"
                                name="prod_code">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Warehouse" [(ngModel)]="model.wh_code"
                                name="wh_code">
                        </mat-form-field>
                    </div>
                </div>
              </mat-card-content>
              <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="search()">
                      <mat-icon class="material-icons">search</mat-icon> ค้นหา
                  </button>
                
              </mat-card-actions>
          </form>

          <mat-card>
              <mat-card-content>
                 
                  <div class="row card-table-body" *ngFor="let x of data.datas">
                      <div class="col-1 col-sm-1">
                          <small>Entity</small>
                          <dd>{{x.ic_entity}}</dd>
                         
                      </div>
                      <div class="col-2 col-sm-2">
                        <small>Product</small>
                        <dd>{{x.prod_code}}</dd>
                        
                    </div>
                      <div class="col-1 col-sm-1">
                          <small>Warehouse</small>
                          <dd>{{x.wh_code}}</dd>
                          
                      </div>
                      <div class="col-2 col-sm-2">
                          <small>Qty Onhand</small>
                          <dd>{{x.qty_oh}}</dd>
                          
                      </div>
                      <div class="col-2 col-sm-2">
                        <small>Qty Allocate</small>
                        <dd>{{x.qty_all}}</dd>
                        
                      </div>
                      <div class="col-1 col-sm-1">
                        <small>Qty Ship</small>
                        <dd>{{x.qty_ship}}</dd>
                        
                      </div>
                      <div class="col-1 col-sm-1">
                        <small>Qty Build</small>
                        <dd>{{x.qty_build}}</dd>
                        
                      </div>
                      <div class="col-2 col-sm-2">
                        <small>Qty Avaiable</small>
                        <dd>{{x.qty_avai}}</dd>
                       
                      </div>
                      <!-- <div class="col-12 col-sm-3 text-right">
                          <button mat-icon-button [matMenuTriggerFor]="appMenu">
                              <mat-icon class="material-icons">more_horiz</mat-icon>
                          </button>

                          <mat-menu #appMenu="matMenu">
                              <button mat-menu-item [routerLink]="['/app/menu/view/'+x.menuFunctionId]">
                                  <mat-icon class="material-icons">search</mat-icon> <span>แสดง</span>
                              </button>
                              <button mat-menu-item [routerLink]="['/app/menu/update/'+x.menuFunctionId]">
                                  <mat-icon class="material-icons">edit</mat-icon> <span>แก้ไข</span>
                              </button>
                               <button mat-menu-item ng-click="delete(x)">
                    <mat-icon class="material-icons">delete</mat-icon> <span>ลบ</span>
                </button>
                          </mat-menu>

                      </div> -->
                      <div class="col-12">
                          <hr />
                      </div>
                  </div>
              </mat-card-content>
          </mat-card>

          <!-- <mat-paginator [length]="data.totalItem" [pageIndex]="model.pageIndex" [pageSize]="model.itemPerPage"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; search($event)">
          </mat-paginator> -->

      </mat-card-content>
      <mat-card-content *ngIf="data.datas != undefined">
          <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
              [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
      </mat-card-content>
  </mat-card>
</div>

