<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>ยกเลิกบันทึกผลผลิต - In Process</h6>
    </mat-card-title>
  
  <mat-card-content class="no-margin">

    <div class="row">
      <div class="col-lg-2 col-sm-3">
        <dt>จำนวนที่ยกเลิกได้</dt>
        <dd>10</dd>
      </div>
     
    </div>

    
      <mat-card >
      <mat-card-content>
          
        
        <div class="row card-table-body" >
          <!-- Row 1-->
          <div class="col-3 col-lg-3">
            <mat-form-field class="full-width">
              <input matInput placeholder="In Process Tag" name="scan_po">
            </mat-form-field>
          </div>
          <div class="col-3 col-lg-3">
            <mat-form-field class="full-width">
              <input matInput placeholder="จำนวนยกเลิก" name="print_qty">
            </mat-form-field>
          </div>
      
        </div> 

        

      </mat-card-content>
      </mat-card> 
      </mat-card-content>
      <br />
   
      <mat-card-content class="no-margin">
        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <dt>รายละเอียด</dt>
          </div>
        </div>
    
          <mat-card >
          <mat-card-content>
              
            
            <div class="row card-table-body" >
              <!-- Row 1-->
              <div class="col-2 col-lg-1">
                  <small>Machine</small>
                  <dd>MO-01</dd>
              </div>
              <div class="col-2 col-lg-1">
                  <small>Model</small>  
                  <dd>REFRESH</dd>
             </div>
             <div class="col-2 col-lg-1">
                  <small>Size</small>  
                  <dd>3.5"X6.5"</dd>
             </div>
             <div class="col-2 col-lg-1">
                  <small>Spring</small>  
                  <dd>MOCR01</dd>
             </div>
       
             <div class="col-12">
                  <hr />
             </div>  
      
              <!-- Row 2-->
              <div class="col-2 col-lg-2">
                <small>รหัสสินค้า</small>
                <dd>EXMUREFDUF107X183</dd>
              </div>
              <div class="col-2 col-lg-6">
                <small>รายละเอียดสินค้า</small>  
                <dd>LEVEL 0.9 - REFRESH/ BL43260/LFR/MATT/107X183 CM</dd>
              </div>
          
    
    
    
            </div> 
    
          </mat-card-content>
          </mat-card> 
          </mat-card-content> 

   
          <br />
          <br />
          <mat-card-actions class="no-margin">
            <div class="row">
              <div class="col-2 col-sm-2">
                <button (click)="close();" mat-raised-button color="primary">
                  <mat-icon class="material-icons">close</mat-icon> ปิด
                </button>
              </div>
              <div class="col-2 col-sm-1">
                <button mat-raised-button color="default" (click)="save()">
                  <mat-icon class="material-icons">save</mat-icon> บันทึก
                </button>
              </div>
            </div>
          </mat-card-actions> 

          

  </mat-card>

   
</div>
