<div class="container-fluid no-breadcrumbs">


  <mat-card>

    <mat-card-title>
      <h6>เลือก Raw Material</h6>
    </mat-card-title>

    <mat-card-content>

      <div class="row">
        <div class="col-lg-2 col-sm-5 col-5">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="วันที่รับ" [(ngModel)]="model.doc_date"
              name="doc_date"  #doc_date>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 col-sm-1">
          <button mat-raised-button *ngIf="doc_date.value != ''" color="primary" class="btn-w-md" type="button" (click)="search()">
            <mat-icon class="material-icons">search</mat-icon> ค้นหา
          </button>
        </div>
      </div>

    </mat-card-content>

  </mat-card>

  <mat-card style="margin-top:40px;">
    <mat-card-subtitle class="no-margin">
      <h6 class="no-margin">ผลการค้นหา {{this.model.doc_date | date:'dd/MM/yyyy'  }}</h6>
    </mat-card-subtitle>
    <mat-card-content>
      <!-- <div class="row" *ngIf="datas.length == 0;else show_raw_mat">
        <div class="col-12 text-center">
          <h4>ไม่พบรายการ</h4>
        </div>
      </div> -->
<!--           
      <ng-template #show_raw_mat> -->
        <div class="row" *ngFor="let x of datas.datas">
     
        
        <div class="col-sm-1 col-1">
          <dd>
            <mat-checkbox [(ngModel)]="x.selected"></mat-checkbox>
          </dd>
          
        </div>
        <div class="col-sm-2 col-4">
          <small>Doc NO.</small>
          <dd>{{x.doc_no}}</dd>
        </div>
        <div class="col-sm-3 col-5">
          <small>Raw Code</small>
          <dd>{{x.prod_code}}</dd>
        </div>

        
        <!-- <div class="col-sm-6 col-1">

        </div> -->
        <div class="col-sm-6 col-11">
          <small>Product Name</small>
          <dd class="row-line-2">{{x.prod_name}}</dd>
        </div>
        
    
      </div>
      <!-- </ng-template> -->
    </mat-card-content>
  </mat-card>

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="add()">
      <mat-icon class="material-icons">add</mat-icon> เพิ่ม Raw Material
    </button>

  </div>

</div>
