<div class="container-fluid no-breadcrumbs">
  <mat-card>
    <mat-card-title>
      <h6>ค้นหาสินค้า</h6>
    </mat-card-title>
    <mat-card-content>

      <form>
        <mat-card-content class="no-margin">
          <div class="row" >
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="PCS Barcode" [(ngModel)]="model.pcs_barcode"
                    name="pcs_barcode">
              </mat-form-field>
                
            </div>
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Barcode" [(ngModel)]="model.bar_code"
                    name="bar_code">
              </mat-form-field>
            </div>
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="รหัสสินค้า" [(ngModel)]="model.prod_code"
                    name="prod_code">
              </mat-form-field>  
            </div>
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="ชื่อสินค้า" [(ngModel)]="model.prod_name"
                    name="prod_name">
              </mat-form-field>    
            </div>
            
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Group" [(ngModel)]="model.pdgrp_code" name="pdgrp_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductGroup" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>

            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Type" [(ngModel)]="model.pdtype_code" name="pdtype_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductType" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>

            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Brand" [(ngModel)]="model.pdbrnd_code" name="pdbrnd_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductBrand" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>
            
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Model" [(ngModel)]="model.pdmodel_code" name="pdmodel_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductModel" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>


            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Design" [(ngModel)]="model.pddsgn_code" name="pddsgn_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductDesign" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>

            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Size" [(ngModel)]="model.pdsize_code" name="pdsize_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductSize" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>

            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Color" [(ngModel)]="model.pdcolor_code" name="pdcolor_code">
                  <mat-option>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let x of ddlProductColor" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>        
            </div>


            
           
          </div>
        </mat-card-content>
        <mat-card-actions class="no-margin">
          <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="search()">
            <mat-icon class="material-icons">search</mat-icon> ค้นหา
        </button>
          
        </mat-card-actions>
      </form>



      <mat-card>
        <mat-card-content>

         <div class="row card-table-body" *ngFor="let x of data.datas">
            <!-- Row 1-->
            <div class="col-6 col-lg-2">
              <small>รหัสสินค้า</small>
              <dd>{{x.prod_code}}</dd>
            </div>
            <div class="col-6 col-lg-5">
              <small>ชื่อสินค้า</small>
              <dd>{{x.prod_name}}</dd>
            </div>
            <div class="col-6 col-lg-2">
              <small>บาร์โค้ด
                  <button mat-icon-button [matMenuTriggerFor]="appMenu2">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                 </button>
              </small>  
              <dd>{{x.bar_code}}</dd>
           </div>
            <div class="col-6 col-lg-2">
              <small>Pcs Barcode
                  <button mat-icon-button [matMenuTriggerFor]="appMenu">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                 </button>
              </small>  
              <dd>{{x.pcs_barcode}}</dd>
           </div>
           <div class="col-6 col-lg-1">
              <small>สถานะ</small>
              <dd>{{x.status}}</dd>
           </div>
           <div class="col-12">
              <hr />
           </div>

           
           <div class="col-12">
              <hr />
           </div>

            <mat-menu #appMenu2="matMenu">
                <button mat-menu-item [routerLink]="['/stockBalances']" >
                  <mat-icon class="material-icons">search</mat-icon> <span>Stock Balance</span>
                </button>
                <button mat-menu-item [routerLink]="['/stockLocation']" >
                  <mat-icon class="material-icons">search</mat-icon> <span>Stock Location</span>
                </button>
                <button mat-menu-item [routerLink]="['/stockLedger']" >
                  <mat-icon class="material-icons">search</mat-icon> <span>Stock Ledger</span>
                </button>
            </mat-menu>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item [routerLink]="['/pcsHistory']" action>
                  <mat-icon class="material-icons">search</mat-icon> <span>ประวัติ Pcs Barcode</span>
                </button>
           </mat-menu>

         </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-content *ngIf="data.datas != undefined">
      <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
          [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
  </mat-card-content>
  </mat-card>
</div>